:root{
    --picture-size: 100px;
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body{
    font-family: 'Exo 2','Montserrat';
    font-weight: 500;
    background-color: rgb(22, 20, 27);
    color: white;
}

.containter{
    padding: 0.5rem;
}


.page{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.base{
    padding: 0.5rem;
    width: 50%;
    border-right: 1px solid grey;

}

.photo{
    margin-right: 0.5rem;
    height: var(--picture-size);
    width: var(--picture-size);
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.frame{
    display: flex;
    flex-direction: row;
}

.identity{
    display: flex;
    flex-direction: column;
}

.alias{
    font-weight: 700;
    font-size: 2.25rem;
    // font-family: 'Cascadia Code';
    font-style: italic;
    // letter-spacing: 1px;
}


.properties{
    display: flex;
    flex-direction: row;
}

.level{
    font-weight: 500;
    font-size: 2.65rem;

}

.class{
    margin: 0.5rem;
    font-family: 'Montserrat';

}
.class-detail{
    color: grey;
    font-weight: 300;
    font-family: 'Montserrat';
}

.specs{
    padding: 0.5rem;
    // background-color: grey;
}
